@historical: #6790B7;
@projected: #C10326;
@prev-projected: #FCDC4D;

#line-chart {
  path {
    stroke-width: 3;
    // opacity: 0;
    fill: none;
  }
  .line-hover {
    opacity: 1;
    stroke-width: 5;
  }
  .line {
    fill: none;
    opacity: 1;
  }
  .hover-text {
    font-family: @bold-graphics;
  }
}

svg {
  margin: auto;
}

.domain {
    fill: none;
    stroke: black;
    opacity: 1;
    stroke-width: 1 !important;
    shape-rendering: crispEdges;
}

.voronoi path {
  // stroke: red;
  // stroke-opacity: 0.2;
  // fill: white;
  // opacity: 0;
  pointer-events: all;
}

.desktop-instruct {
  font-size: 14px;
  padding-top: 10px;
  @media @mobile {
    display: none;
  }
}

.mobile-instruct {
  font-size: 12px;
  padding-top: 10px;
  display: none;
  @media @mobile {
    display: block;
  }
}

.legend-container {
  font-size: 12px;
  font-family: @block-graphics;
  // border: 1px solid @black;
  // border-radius: 6px;
  width: 440px;
  @media @mobile {
    width: 90%;
  }
  margin: auto;
  // margin-bottom: 40px;
  &.nopadding {
    margin-bottom: 0;
  }
  padding: 4px;
  .display-flex;
  .flex-wrap(wrap);
  @media @mobile {
    margin: 15px auto;
  }
  .element {
    .flex(0 0 50%);
    @media @mobile {
      .flex(0 0 90%);
    }
  }
  .historical-swath, .projected-swath, .prev-projected-swath  {
    height: 14px;
    width: 14px;
    margin: 4px;
    border-radius: 2px;
  }
  .historical-swath {background: @historical}
  .projected-swath {background: @projected}
  .prev-projected-swath {background: @prev-projected}
  .legend-text {
    width: 180px;
    padding-left: 20px;
    vertical-align: text-top;
  }
}
