<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <div class="outer">

      <div class="hed">Rising pension costs</div>

      <div class="chatter">
        The amount school districts are required to contribute to employee pension funds, equal to a percentage of total payroll, has fluctuated over the years, reaching a record high this year. Yet with the return on investments lower than expected, schools will have to pay even more in the future to ensure the CalPERS fund has enough money to pay retirees what they’ve been promised.<div class="desktop-instruct">Hover over the chart to see the rates each year.</div><div class="mobile-instruct">Click on the chart to see the rates each year.</div>
      </div>

      <div class="legend-container">
        <div class="element"><div class="historical-swath"><div class="legend-text">Historic rates</div></div></div>
        <div class="element"><div class="projected-swath"><div class="legend-text">Current projected rates</div></div></div>
        <div class="element"><div class="prev-projected-swath"><div class="legend-text">Previous projected rates</div></div></div>
      </div>

      <div id="line-chart" class="line-chart"></div>

      <div class="credit">
        <div class="entry">Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>
      </div>
      <div class="source">
        <em>Source: <a href="https://www.calpers.ca.gov/" target="_blank">CalPERS</a></em>
      </div>

    </div>

    <script>
      var rateData = <%= JSON.stringify(csv.rateData) %>
    </script>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
